<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2>Agregar Empleado</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <form>
        <div class="col-lg-12 form-group">
          <label for="nombreCompleto">Nombre Completo</label>
          <input type="text" name="nombreCompleto" class="form-control" />
        </div>
        <div class="col-lg-12 form-group">
          <label for="correo">Correo</label>
          <input type="email" name="correo" class="form-control" />
        </div>
        <br />
        <br />
        <div class="col-lg-12 form-group">
          <label for="correo">Fecha Ingreso</label>
          <input type="date" name="fechaIngreso" class="form-control" />
        </div>
        <div class="col-lg-12 form-group">
          <label for="correo">Telefono</label>
          <input type="number" name="telefono" class="form-control" />
        </div>
        <div class="col-lg-12 form-group mb-1">
          <label for="correo">Estado Civil</label>
          <select
            type="string"
            name="position"
            class="form-select"
            aria-label="Default select example"
          >
            <option value="S">Soltero</option>
            <option value="C">Casado</option>
          </select>
        </div>

        <div class="col-lg-12 form-group">
          <label for="correo">Sexo</label>
          <div class="form-check">
            <input
            class="form-check-input"
            type="radio"
            name="masculino"
            id="masculino"
          />
          <label class="form-check-label" for="masculino">
            Masculino
          </label>                                 
          </div>

          <div class="form-check">
            <input
            class="form-check-input"
            type="radio"
            name="femenino"
            id="femenino"
          />
          <label class="form-check-label" for="femenino">
            Femenino
          </label>  
          </div>
            
          
        </div>
      </form>
    </div>

    <div class="col-lg-4 offset-lg-2">
      <img src="assets/img/crear-usuario.jpg" alt="" width="95%" height="95%" />
    </div>
  </div>
</div>
